@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

@keyframes slideDown {
  from {
    transform: translateY(-15%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal.show .modal-dialog {
  animation: slideDown 0.3s ease-out;
}

.modal-dialog {
  max-width: 800px;
}

.modal-content {
  border-radius: 12px;
  /* Ajusta el redondeo de las esquinas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  /* Evita que el contenido se salga del borde */
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
  background-color: #f7f7f7;
  padding: 16px 24px;
}

.modal-title {
  font-weight: 700;
  font-size: 1.5rem;
}

.btn-close {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #000;
}

.modal-body {
  padding: 20px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.price-badge {
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #d62e2f;
}

.details-section {
  padding: 20px 0;
}

.details-section p.lead {
  font-size: 1rem;
  color: #333;
}

.alert {
  font-size: 1rem;
  margin-top: 10px;
}

.close-btn {
  background-color: transparent;
  border-color: #d62e2f;
  color: #d62e2f;
  transition: all 0.3s;
}

.close-btn:hover {
  background-color: #d62e2f;
  color: #fff;
}