
.navbarcolor{
background-color: rgb(172, 172, 172);
}

.logo {
    width: 60px;
    height: 22px;

}

/* Colores de los dropdown */
.dropdown-menu{
    --bs-dropdown-link-hover-bg: #fd6c6cab;
    --bs-dropdown-link-active-bg: #ff0101;
    border-radius: 4px;
   
}