/* pallete 
fc9ca2
fb747d
fa4c58
f92432
e30613
c70512
9f040e
77030b
500207
*/
/* :root {
  --bs-danger: #d62e2f !important;
}
 */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  font-family: 'Roboto', sans-serif;
}
.navbarcolor{
background-color: rgb(172, 172, 172);
}

.logo {
    width: 60px;
    height: 22px;

}

/* Colores de los dropdown  para la lista desplegable con efecto hover */
/* .dropdown-menu{
    --bs-dropdown-link-hover-bg: #fb747d;
    --bs-dropdown-link-active-bg: #d62e2f;
    border-radius: 4px;
   
} */


.dropdown-menu {
  border: none;
  box-shadow: 5px 5px 10px rgba(8, 8, 8);
}

.dropdown-menu .dropdown-item:hover {
  background-color: #d62e2f;
  color: #f7f7f7;
}

.dropdown-menu .dropdown-item:focus {
  background-color: #d62e2f;
  color: #fff;
}

  
  input:invalid {
    animation: justshake 0.3s forwards;
    color: #d62e2f;
  }
    .form-check-input:checked {
      background-color: #d62e2f;
      border-color: #fb747d;
    }
  @keyframes justshake {
    25% {
      transform: translateX(5px);
    }
  
    50% {
      transform: translateX(-5px);
    }
  
    75% {
      transform: translateX(5px);
    }
  
    100% {
      transform: translateX-(5px);
    }
  }


 

.login-container {
  padding: 40px;
max-width: 400px;
  border: 1px solid #dbdbdb;
  text-align: center;
}


.login-container input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: #fafafa;
} 

.login-container input:focus {
  border-color: #a8a8a8;
  outline: none;

}

.login-container button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  
  border: none;
  border-radius: 3px;
  color: #fff;
  font-weight: semibold;
  cursor: pointer;
}

.img-fluid {
  width: auto;
  height: auto;
  max-height: 523px;
}

.error {
  color: red;
  margin-top: 1rem;
}
/* 
 SIDEBAR 
.sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #f8f9fa;
  padding: 20px;
  overflow-y: auto;
}

.navbar-nav {
  list-style: none;
  padding: 0;
}

.nav-item {
  margin-bottom: 10px;
}

.nav-link {
  color: #000;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
} */

/* FOOTER */

/* styles.css */
/* App.css */

/* Estilos globales */
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* El contenedor principal debe ocupar todo el espacio disponible */
#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* Tus estilos existentes para el footer */
footer {
  background-color: #f8f9fa;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #e5e5e5;
}

footer a {
  color: #6c757d;
  /* Color de texto de los enlaces */
  text-decoration: none;
}

footer a:hover {
  color: #343a40;
  /* Color de texto al pasar el ratón */
}

footer .bi {
  font-size: 1.5rem;
  /* Tamaño de los iconos */
}
